.grid-container1 {
  display: grid;
  grid-template-columns: 200px 75px;
  margin-bottom: 20px;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
  margin-bottom: 20px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 20px;
  row-gap: 10px;
  column-gap: 20px;
}
