@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

p {
  font-family: Roboto;
  margin-top: 0;
  margin-bottom: 0;
  /* We set by default all paragraphs to have this options. But the specificy is on the bottom */
}

.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
}

.views {
  font-size: 12px;
  color: #606060;
  margin-bottom: 20px;
}
.author {
  color: #606060;
  font-size: 14px;
  margin-bottom: 20px;
}

.description {
  color: #606060;
  font-size: 14px;
  width: 280px;
  line-height: 20px;
  margin-bottom: 100px;
}
.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: #e34140;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shop-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
